<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Track Manager</title>
</head>
<body>


<div class="container">
    <div><!-- iterates through all tracks in articles displaying the title body and category in a container -->
        <div th:each="track : ${tracks}" class="box">
            <h2 th:text="${track.name}">name</h2>
            <div th:text="${track.city}">city</div>
            <div th:text="${track.state}">state</div>
            <div th:text="${track.zip}">zip</div>
            <div th:text="${track.owner}">owner</div>
            
        </div>
    </div>
</div>

</body>
</html>